@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);

nav {
    /* background:#4574c5; */
    padding: 10px 0px;
    
}

NavbarBrand {
    font-size: large;
    font-weight: 500;
    
}
Navbar {
    color: rgb(171, 238, 38);
}
/* NavItem Link {
    margin: 10;
    padding: 0;
    line-height: 1;
}  */

