@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
Nav {
    margin-left: 40px;
   
}
.nav {
    /* background:#4574c5; */
    padding: 10px 30px;
    margin-right: 50px;
}

NavbarBrand {
    font-size: large;
    font-weight: 500;
}


/* .navbar-fixed-top {}
NavItem Link {
    margin: 10;
    padding: 0;
    line-height: 1;
} */

